{% extends 'partials/base.html.twig' %}

{% block topbar %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
	<div id="chapter">
    	<div id="body-inner">
    		<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}</h1>
			<p>
				{{ page.content }}

				Looks like something may have moved! We try to prevent this from happening, but sometimes changes fall through the cracks. Please <a href="https://github.com/drupalcommerce/commerce-docs/issues/new">open an issue</a> if this is an error.
			</p>
		</div>
    </div>
{% endblock %}
