# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Composer
/vendor

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

.DS_Store
.idea

/_build/doctrees
/_build/html
/_build/epub
*.pyc

# Sass
.sass-cache

# Grav Specific
/data/*
!/data/.gitkeep
/plugins/*
!/plugins/.gitkeep
/themes/*
!/themes/.gitkeep
/cache
/logs

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*
