
code,pre {
    font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeSpeed
}

code {
    background: #f5f5f5;
    border: 0;
    border-radius: 3px;
    color: #18171b;
    font-size: 13px;
    padding: 2px 3px;
    white-space: normal
}

.admonition-wrapper code {
    background: #e9e9e9
}

pre {
    border: 0;
    font-family: Menlo,Monaco,Consolas,monospace;
    font-size: 13px;
    line-height: 1.5
}

pre {
    white-space: pre;
    word-break: initial;
    word-wrap: initial
}

table.highlighttable {
    table-layout: fixed;
    width: 100%
}

.literal-block {
    margin: 1.5em 0;
    max-width: 100%;
    width: 100%
}

.literal-block pre {
    background-color: #18171b;
    border-radius: 0;
    color: #fff;
    margin: 0;
    padding: 1em
}

.literal-block .highlighttable {
    border: 0;
    margin: 0;
    width: 100%
}

.literal-block .highlighttable td.linenos {
    background-color: #18171b;
    border: 0;
    min-width: 35px;
    padding: 0;
    text-align: right;
    width: 35px
}

.literal-block .highlighttable td.linenos pre {
    background-color: #18171b;
    border-right: 1px solid #222;
    color: #63606b;
    padding: 1em .5em
}

.literal-block .highlighttable td.code {
    background: #18171b;
    border: 0;
    padding: 0
}

.literal-block .highlighttable td.code .highlight {
    background-color: #18171b
}

.highlight .bp {
    color: #3465a4
}

.highlight .c {
    color: #b729d9;
    font-style: italic
}

.highlight .c1 {
    color: #b729d9;
    font-style: italic
}

.highlight .cm {
    color: #b729d9;
    font-style: italic
}

.highlight .cp {
    color: #a0a0a0
}

.highlight .cs {
    color: #b729d9;
    font-style: italic
}

.highlight .err {
    color: #a40000;
    border: 1px solid #ef2929
}

.highlight .g {
    color: #fff
}

.highlight .gd {
    color: #a40000
}

.highlight .ge {
    color: #fff;
    font-style: italic
}

.highlight .gh {
    color: navy
}

.highlight .gi {
    color: #00a000
}

.highlight .go {
    color: gray
}

.highlight .gp {
    color: #745334
}

.highlight .gr {
    color: #ef2929
}

.highlight .gs {
    color: #fff;
    font-weight: bold
}

.highlight .gt {
    color: #a40000;
    font-weight: bold
}

.highlight .gu {
    color: purple;
    font-weight: bold
}

.highlight .hll {
    background-color: #ff3
}

.highlight .il {
    color: #1299da
}

.highlight .k {
    color: #ff8400
}

.highlight .kc {
    color: #ff8400
}

.highlight .kd {
    color: #ff8400
}

.highlight .kn {
    color: #ff8400
}

.highlight .kp {
    color: #ff8400
}

.highlight .kr {
    color: #ff8400
}

.highlight .kt {
    color: #ff8400
}

.highlight .l {
    color: #fff
}

.highlight .ld {
    color: #fff
}

.highlight .m {
    color: #1299da
}

.highlight .mf {
    color: #1299da
}

.highlight .mh {
    color: #1299da
}

.highlight .mi {
    color: #1299da
}

.highlight .mo {
    color: #1299da
}

.highlight .n {
    color: #fff
}

.highlight .na {
    color: #fff
}

.highlight .nb {
    color: #fff
}

.highlight .nc {
    color: #fff
}

.highlight .nd {
    color: gray
}

.highlight .ne {
    color: #ef2929
}

.highlight .nf {
    color: #fff
}

.highlight .ni {
    color: #e67700
}

.highlight .nl {
    color: #ff8400
}

.highlight .nn {
    color: #fff
}

.highlight .no {
    color: #fff
}

.highlight .nt {
    color: #ccc
}

.highlight .nv {
    color: #fff
}

.highlight .nx {
    color: #fff
}

.highlight .o {
    color: #e67700
}

.highlight .ow {
    color: #e67700
}

.highlight .p {
    color: #939393
}

.highlight .py {
    color: #fff
}

.highlight .s {
    color: #56db3a
}

.highlight .s1 {
    color: #56db3a
}

.highlight .s2 {
    color: #56db3a
}

.highlight .sb {
    color: #56db3a
}

.highlight .sc {
    color: #56db3a
}

.highlight .sd {
    color: #b729d9;
    font-style: italic
}

.highlight .se {
    color: #56db3a
}

.highlight .sh {
    color: #56db3a
}

.highlight .si {
    color: #56db3a
}

.highlight .sr {
    color: #56db3a
}

.highlight .ss {
    color: #56db3a
}

.highlight .sx {
    color: #56db3a
}

.highlight .vc {
    color: #fff
}

.highlight .vg {
    color: #fff
}

.highlight .vi {
    color: #fff
}

.highlight .w {
    color: #f8f8f8;
    text-decoration: underline
}

.highlight .x {
    color: #fff
}

.highlight .p-Indicator {
    color: #ff8400
}

.highlight-rst .gh {
    color: #fff
}


.highlight-bash, .highlight-terminal {
  /* Ditch RTD base, remove !important */
    border: solid #e1e4e5 !important;
    border-width: 20px 3px 4px 4px !important;
    border-radius: 3px 3px 0 0 !important;
    position: relative;
    overflow-x: visible !important;
}

.highlight-bash td.linenos,.highlight-terminal td.linenos {
    display: none
}

.highlight-bash .highlight *,.highlight-terminal .highlight * {
    border: 0;
    color: #fff !important;
}

.highlight-bash .highlight .c,.highlight-bash .highlight .c1,.highlight-bash .highlight .cm,.highlight-bash .highlight .cs,.highlight-terminal .highlight .c,.highlight-terminal .highlight .c1,.highlight-terminal .highlight .cm,.highlight-terminal .highlight .cs {
    color: #b729d9;
    font-style: italic
}

.highlight-bash .highlight .s,.highlight-bash .highlight .s1,.highlight-bash .highlight .s2,.highlight-terminal .highlight .s,.highlight-terminal .highlight .s1,.highlight-terminal .highlight .s2 {
    color: #56db3a
}

.highlight-bash .highlight .gp,.highlight-terminal .highlight .gp {
    color: gray
}

.highlight-bash:before,.highlight-terminal:before {
    background-color: #777;
    border-radius: 50%;
    box-shadow: 0 0 0 0px #777, 1.25em 0 0 0px #777, 2.5em 0 0 0px #777;
    content: '';
    display: block;
    height: .5em;
    left: 1em;
    position: absolute;
    top: -1.0em;
    width: .5em;
}

.highlight-bash pre,.highlight-terminal pre {
    line-height: 2
}

.highlight-bash .highlighttable,.highlight-terminal .highlighttable {
    outline: 1px solid #555
}

.highlight-terminal .gp,.highlight-terminal .c1 {
    display: inline-block;
    position: relative;
    visibility: hidden
}

.highlight-terminal .gp:before,.highlight-terminal .c1:before {
    content: attr(data-content);
    position: absolute;
    visibility: visible
}

.rst-content tt.literal code, .rst-content tt.literal code, .rst-content code.literal code {
  border: 0;
  background: transparent;
  font-size: 100%;
}
